{% extends 'others/base.html' %}
{% load static %}

{% block title %}{{budget.name}} from {{budget.owner.get_username_from_email}}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/budget.css' %}">
{% endblock %}

{% block content %}

    <h1 class="budget_name">{{budget.name}}</h1>
    <p class="budget_details">Owner: {{budget.owner.get_username_from_email}}</p>
    <p class="budget_details">Description: {{budget.description}}</p>

    <h3 class="add_new_income_btn">Add new income/expense +</h3>
    <div class="budgetNewAddForm">
        <form action="{% url 'family_budget:add_budget_item' %}" style="display: inline-block;" method="post">
            {% csrf_token %}
            <p class="add_budget_field">Name: {{form.name}}</p>
            <p class="add_budget_field">Money amount: {{form.price}} {{form.currency}}</p>
            <p class="add_budget_field add_budget_field_desc">Description: {{form.description}}</p>
            <!-- Make budget FK same as this page's -->
            <input name="budget" type="hidden" value="{{budget.id}}"> 
            <p class="add_budget_field">Choose category: {{form.category}}</p>

            <input type="submit" value="Add" class="add_budget_field_submit">
        </form>
    </div>

    <h2 style="margin: 0;">Categories:</h2>
    <form action="{% url 'family_budget:add_category' %}" method="post">
        {% csrf_token %}
        <p class="add_category_field">Add category: {{category_form.name}}</p>
        <!-- Make budget FK same as this page's -->
        <input name="budget" type="hidden" value="{{budget.id}}"> 
        <input type="submit" value="Add" class="add_category_field_submit">
    </form>

    <div class="tab">
    {% for category in categories %}
        <button class="tablinks" onclick="openBudgetItem(event, '{{category}}')">
            <h3>{{category}}</h3>
        </button>
    {% endfor %}
    </div>



    {% if categories %}
        {% for category in categories %}
        <div id="{{category}}" class="tabcontent">
            {% for budget_item in budget_items %}
                {% if budget_item.category == category %}
                    <div class="budget_item">
                        <span class="budget_item_name">{{budget_item.name}}</span>
                        <span class="budget_item_description">{{budget_item.description}}</span>
                        <div class="budget_item_others">
                            {% if budget_item.price <= 0 %}
                                <span class="budget_item_price price_neg">{{budget_item.price}} {{budget_item.currency}}</span>
                            {% else %}
                                <span class="budget_item_price price_pos">{{budget_item.price}} {{budget_item.currency}}</span>
                            {% endif %}
                            <span class="budget_item_published">{{budget_item.added|date:'d M'}}</span>
                        </div>
                        <span class="delete_budget_item">x</span>
                        <input type="hidden" value="{{budget_item.id}}" class="delete_budget_item_id">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    {% endif %}



{% endblock %}

