/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}





.budget_item{
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  padding: 5px;
  flex-direction: row;
  align-items: center;
}
.budget_item_name{
  font-weight: bold;
  font-size: 17px;
  padding: 0 5px;
}
.budget_item_description{
  font-size: 14px;
  flex: 1;
  padding: 0 5px;
}
.budget_item_others{
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}
.budget_item_price{
  font-size: 16px;
}
.budget_item_published{
  font-size: 12px;
  color: #898989;
}




.budget_name{
  text-align: center;
}
.budget_details{
  font-size: 17px;
}
.add_budget_field_desc{
  display: flex;
  justify-content: baseline;
}
.add_budget_field input, .add_budget_field textarea, select, .add_category_field input{
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #898989;
  outline: none;
  margin-left: 5px;
  resize: none;
  max-height: 125px !important;
}
#id_price{
  width: 50px;
}
.add_new_income_btn{
  font-weight: lighter;
  color: #5d64ec;
  cursor: pointer;
}
.budgetNewAddForm{
  max-height: 0;
  transition: max-height 1s ease-out;
  opacity: 0;
  overflow: hidden;
  display: inline-block;
}
.add_budget_field_submit{
  width: 100px;
  padding: 10px 0;
  font-size: 17px;
  border: 0;
  background: var(--background-color);
  cursor:pointer;
  margin: auto;
  display: block;
  color: #fff;
  border-radius: 5px;
}
.add_budget_field_submit:hover{
  background: var(--background-color-hover);
}
.delete_budget_item{
  font-size: 17px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
}




.add_category_field{
  display: inline-block;
}
.add_category_field_submit{
  width: 50px;
  font-size: 15px;
  border: 1px solid #898989;
  border-radius: 5px;
  cursor: pointer;
  background: var(--background-color);
  color: #fff;
  height: 27px;
}
.add_category_field_submit{
  background: var(--background-color-hover);
}