{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/registration.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    

    <div class="box"> 
        <h1 class="login_header">Login</h1>

        <form method="post" action="{% url 'account:login' %}" id="loginForm"> 
            {% csrf_token %}
            <div class="input_textbox">
                <input type="email" name="email" required="" autofocus id="email_login" placeholder="Email"><br>
            </div>
            <div class="input_textbox">
                <input type="password" id="password" name="password" required="" placeholder="Password"><br>
            </div>		    

            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}">
            {% endif %}

            <button type="submit" class="button">
                <span class="button_text">Log in</span>
            </button>

            <p class="go_to_register"><a href="{% url 'account:registration' %}">Create account</a></p>
        </form>
    </div>

</body>
</html>